<div class="form-group" [formGroup]="formularioForm">
  <mat-form-field class="form-field">
    <mat-label>{{ "formulario.nombre" | translate }}</mat-label>
    <input matInput formControlName="nombre" [placeholder]="'formulario.placeholder_nombre' | translate">
  </mat-form-field>

  <div formArrayName="secciones">
    <div *ngFor="let seccion of secciones.controls; let i = index">
      <h5> {{ "seccion.grupo" | translate: { numero: i + 1 } }} </h5>
      <div class="button-container">
        <button mat-raised-button color="warn" class="form-button" (click)="eliminarSeccion(i)">
          <mat-icon>delete</mat-icon>
          {{ "seccion.eliminar" | translate: { numero: i + 1 } }}
        </button>
      </div>
      <section-builder [seccionForm]="seccion" [numero]="i + 1"></section-builder>
      <mat-divider></mat-divider>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" class="form-button" (click)="agregarSeccion()">
        {{ "seccion.agregar" | translate }}
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <button mat-raised-button color="primary" class="form-button" (click)="guardarFormulario()">
    {{ "formulario.guardar" | translate }}
  </button>

  <button mat-raised-button color="primary" class="form-button" (click)="previsualizarFormulario()">
    <mat-icon>{{mostrarFormulario ? "visibility_off" : "visibility"}}</mat-icon>
    {{ "formulario.previsualizar" | translate }}
  </button>
</div>

<mat-card *ngIf="formulario != null && mostrarFormulario">
  <mat-card-content>
    <dynamic-form [formulario]="formulario"></dynamic-form>
  </mat-card-content>
</mat-card>
