table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: var(--color100);
  }

  .button-container {
    text-align: center;
  }

  .table-container {

    margin-top: 2em;
  }