<mat-card>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Seleccione un sistema</mat-label>
      <mat-select formControlName="selectSistema" required>
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls['selectSistema'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Seleccione un módulo</mat-label>
      <mat-select formControlName="selectModulo" required>
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls['selectModulo'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Seleccione un periodo</mat-label>
      <mat-select formControlName="selectPeriodo" required>
        <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">
          {{ periodo.Nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls['selectPeriodo'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Enviar
    </button>
  </form>

  <div *ngIf="showTable">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
          <td mat-cell *matCellDef="let row"> {{row.version}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Ver formulario">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button aria-label="Editar formulario">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Borrar formulario">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>


  </div>
</mat-card>