.main-container {
    margin: 40px 15px 0px 15px;
    display: block;
    width: 100%;
}

body {
    background-color: black;
}

.form-field {
    margin-bottom: 16px;
}

.form-button {
    margin-top: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
